<app-navbar></app-navbar>

<ion-content>

  @if (evento && !modoEdicion) {
    <div class="evento-header">
      <h1 class="titulo-h1">
        {{ evento.titulo }}
      </h1>
    </div>

    <div>

      <img [src]="evento.foto" alt="Imagen del evento" class="imagen-evento" />

      <div class="interaction">
        @if (inscrito) {
          <div class="inscrito-box">
            <div class="inscrito-div">Estás inscrito.</div>
          </div>
        } @else {
          <ion-icon
            [name]="guardado ? 'bookmark' : 'bookmark-outline'"
            (click)="toggleGuardar()">
          </ion-icon>

          <ion-icon
            name="ticket-outline"
            (click)="inscribirse()">
          </ion-icon>
        }
      </div>

      <div class="card">
        <ion-card
          class="event-card"
          [class.inscrito-margin]="!inscrito"
          [class.no-inscrito-margin]="inscrito">

          <ion-card-content>

            <p class="fecha">
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-label>{{ evento.fecha | date:'dd/MM/yyyy'}}</ion-label>
            </p>

            <p class="hora">
              <ion-icon name="time-outline"></ion-icon>
              <ion-label>{{ evento.hora | slice:0:5}}</ion-label>
            </p>

            <p class="lugar">
              <ion-icon name="location-outline"></ion-icon>
              <ion-label>{{ evento.ubicacion }}</ion-label>
            </p>

            <p class="precio">
              <ion-icon name="card-outline"></ion-icon>
              <ion-label>
                {{ evento.precio === 0 ? 'Gratis' : (evento.precio + ' €') }}
              </ion-label>
            </p>

            <p class="descripcion">
              {{ evento.descripcion }}
            </p>

          </ion-card-content>

        </ion-card>
      </div>


      @if (inscrito) {

        <div class="desinscribirse" (click)="desinscribirse()">
          <h3>Desinscribirme</h3>
        </div>

        <div class="comunidad-box">

          <div class="tabs">
            <button
              class="tab"
              [class.active]="vista === 'comentarios'"
              (click)="cambiarVista('comentarios')">
              Comentarios
            </button>

            <button
              class="tab"
              [class.active]="vista === 'fotos'"
              (click)="cambiarVista('fotos')">
              Fotos
            </button>
          </div>

          @switch (vista) {

            @case ('comentarios') {
              <div class="comentarios">
                @for (comentario of comentarios; track comentario.id) {
                  <div class="comentario">
                    <img [src]="comentario.avatar" />
                    <div>
                      <h4>{{ comentario.usuario }}</h4>
                      <p>{{ comentario.texto }}</p>
                    </div>
                  </div>
                }
              </div>
            }

            @case ('fotos') {
              <div class="galeria">
                @for (foto of fotos; track foto.id) {
                  <div class="foto-item">
                    <img [src]="foto.url" />

                    <div class="overlay-info">
                      <img
                        [src]="foto.usuario.imagen"
                        class="avatar" />
                      <span class="nombre">{{ foto.usuario.nombre }}</span>
                    </div>
                  </div>
                }
              </div>
            }

          }

        </div>
      }

    </div>

    @if (inscrito) {
      <div class="fab-sticky">
        <ion-fab-button (click)="goToSubirContenido()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </div>
    }

  }

  @if (evento && modoEdicion) {

    <div class="card">
      <ion-card class="event-card">

        <form [formGroup]="form">
          <!-- TITULO -->
          <div class="evento-header">
            <ion-textarea
              class="titulo-textarea"
              formControlName="titulo"
              [autoGrow]="true"
              [rows]="1">
            </ion-textarea>
          </div>

        <ion-card-content>
          <!-- URL IMAGEN -->
          <p class="imagen-url">
            <ion-icon name="image-outline"></ion-icon>
            <ion-textarea
              class="inline-textarea url-input"
              placeholder="URL de la imagen"
              [autoGrow]="true"
              formControlName="foto">
            </ion-textarea>
          </p>

          <!-- FECHA Y HORA-->
          <p class="fecha-hora">
            <ion-icon name="calendar-outline"></ion-icon>
          </p><p class="fecha-hora">
            <ion-datetime
              class="input"
              presentation="date-time"
              formControlName="fecha">
            </ion-datetime>
          </p>

          <!-- UBICACIÓN -->
          <p class="lugar">
            <ion-icon name="location-outline"></ion-icon>
            <ion-input
              class="inline-input"
              formControlName="ubicacion">
            </ion-input>
          </p>

          <!-- PRECIO -->
          <p class="precio">
            <ion-icon name="card-outline"></ion-icon>
            <ion-input
              type="number"
              class="inline-input"
              formControlName="precio">
            </ion-input>
          </p>

          <!-- DESCRIPCIÓN -->
          <p class="descripcion">
            <ion-textarea
              class="inline-textarea"
              [autoGrow]="true"
              formControlName="descripcion">
            </ion-textarea>
          </p>

          <!-- BOTONES -->
          <ion-button expand="block" class="btn-guardar" (click)="guardarCambios()">
            Guardar
          </ion-button>

          <ion-button expand="block" class="btn-cancelar" (click)="cancelarEdicion()">
            Cancelar
          </ion-button>

        </ion-card-content>
        </form>
      </ion-card>
    </div>
  }


</ion-content>
