<app-navbar></app-navbar>

<ion-content>
  <app-calendario></app-calendario>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="ion-text-uppercase">mar 12</ion-label>
      <ion-note>Hoy</ion-note>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-text>Team breakfast</ion-text>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-text>Team lunch presentation</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
