@if (!scanActive) {
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Escanear QR</ion-title>
    </ion-toolbar>
  </ion-header>
}

<ion-content [class.ion-hide]="scanActive">
  <div class="ion-padding ion-text-center">
    <ion-button expand="block" (click)="startScan()">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      Escanear Código QR
    </ion-button>
  </div>
</ion-content>

@if (scanActive) {
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" color="danger" (click)="stopScan()">
        Cancelar Escáner
      </ion-button>
    </ion-toolbar>
  </ion-footer>
}
