.logo {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  object-fit: contain;
  margin-top: 40px;
}

ion-content {
  --background: #380A45;
  position: relative;
}

.inicio-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  --color: #F19EDC;
  font-size: 28px;
  padding: 0;
  margin: 0;
  --background: transparent;
  z-index: 10;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  justify-content: flex-start;
}


.botones-roles {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.rol-btn {
  --background: rgba(76, 135, 185, 0.8);
  --border-color: #F19EDC;
  --border-width: 2px;
  --border-radius: 20px;
  font-weight: bold;
  font-size: 25px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 50px;
  color: #F19EDC;
  transition: all 0.3s ease;
}

.btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.rol-btn::part(native) {
  border: 4px solid #F19EDC;
  border-radius: 20px;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-content img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.rol-btn:hover,
.rol-btn:active,
.rol-btn:focus {
  --background: rgba(38, 70, 100, 1);
}
