/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@font-face {
  font-family: 'TAN Nimbus';
  src: url('../../safaeventosapp/src/assets/fonts/tan-nimbus.otf') format('truetype');
  font-weight: 50;
  font-style: normal;
}

ion-toolbar {
  --background: #380A45;
  --border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding: 10px 0 20px;
  --margin-top: 30px;
  --margin-bottom: 30px;
}

ion-title {
  font-weight: 500;
  font-size: 24px;
  color: #f19edc;
  text-align: center;
  margin: 10px 0 30px;
  letter-spacing: 3px;
  font-family: "TAN Nimbus", sans-serif;

}

.logo {
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin-top: 40px;
}

logo-container {
  --background: #380A45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/*Pop up eliminación*/
.alert-app {
  /* Fondo principal del popup */
  --background: #380A45;
  --color: #f19edc;

  .alert-wrapper {
    border-radius: 20px;
    border: 2px solid #f19edc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
  }

  /* Header */
  .alert-head {
    text-align: center;
    padding-bottom: 8px;
  }

  .alert-title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #f19edc;
  }

  /* Mensaje */
  .alert-message {
    font-size: 16px;
    color: #e6c4f3;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
  }

  /* Botones */
  .alert-button-group {
    justify-content: space-between;
    padding: 6px;
    display: flex;
    gap: 12px;
    margin: auto;
  }

  .alert-button {
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
    min-width: 100px;
    transition: transform 0.2s ease, background 0.2s ease;
  }

  /* Botones */
  .alert-button-role-cancel, .alert-button-role-destructive {
    color: #f19edc;
    border: 2px solid #f19edc;
  }

  .alert-button-role-cancel:hover, .alert-button-role-destructive {
    background: rgba(241, 158, 220, 0.15);
    transform: scale(1.05);
  }

}

/* Esto hace transparente la app cuando la cámara está activa */
body.qr-scanner-active {
  background: transparent !important;
  --background: transparent !important;
}

body.qr-scanner-active ion-content {
  --background: transparent !important;
  display: none; /* Opcional: Oculta el contenido mientras escaneas */
}

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
  visibility: hidden; // Oculta la app para que se vea la cámara detrás
}
body.scanner-active ion-content {
  --background: transparent;
  display: none;
}
