<app-navbar></app-navbar>

<ion-content>

  <div class="search-container">
    <ion-searchbar
      placeholder="Busca tu próximo evento"
      class="searchbar-custom"
      [animated]="true">
    </ion-searchbar>
  </div>

  <div class="category-btn">
    @for (cat of categorias; track cat.valor) {
      <ion-chip
        class="chip-custom"
        [outline]="categoriaSeleccionada !== cat.valor"
        [color]="categoriaSeleccionada === cat.valor ? 'primary' : ''"
        (click)="filtrarPorCategoria(cat.valor)"
      >
        <ion-label>{{ cat.nombre }}</ion-label>
      </ion-chip>
    }
  </div>

  <h1 class="title">PRÓXIMOS EVENTOS</h1>

  @if (eventos.length === 0) {
    <div style="text-align: center; margin-top: 20px; color: white;">
      <p>📡 Conectado al backend, pero no hay eventos.</p>
      <p>Estado de la lista: {{ eventos | json }}</p>
    </div>
  }

  <div class="events">
    @for (evento of eventos; track evento.id) {
      <app-tarjeta-descubre [evento]="evento" [rol]="rolUsuario" (eventoEliminado)="onEventoEliminado($event)"></app-tarjeta-descubre>
    }
  </div>

</ion-content>
