<ion-header>
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-button (click)="goToCalendario()">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-buttons slot="end">
      <ion-button (click)="goToBuscar()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="goToNotificaciones()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="goToPerfil()">
        <!-- <div class="user-circle">{{ inicialUser }}</div>-->
       </ion-button>
     </ion-buttons>

   </ion-toolbar>
 </ion-header>
