<app-navbar></app-navbar>

<ion-content class="crear-content">
  <div>
    <ion-toolbar>
      <h1>CREAR EVENTO</h1>
    </ion-toolbar>
  </div>

  <form [formGroup]="eventoForm" class="form-box">

    <!-- TÍTULO -->
    <ion-label class="label">Título</ion-label>
    <ion-input class="input" formControlName="titulo"></ion-input>

    <!-- FECHA -->
    <ion-label class="label">Fecha y hora</ion-label>
    <ion-datetime class="input" formControlName="fecha"></ion-datetime>


    <!-- LUGAR -->
    <ion-label class="label">Lugar</ion-label>
    <ion-item class="input"><ion-input formControlName="lugar"></ion-input></ion-item>


    <!-- PRECIO -->
    <ion-label class="label">Precio</ion-label>
    <ion-item class="input" lines="none">
      <ion-input
        type="number"
        inputmode="decimal"
        formControlName="precio">
      </ion-input>
      <span slot="end" style="color:#f19edc; font-weight:600;">€</span>
    </ion-item>

    <!-- CATEGORÍA -->
    <ion-label class="label">Categoría</ion-label>
    <ion-select class="input" interface="popover" formControlName="categoria">
      <ion-select-option value="ACADEMICO">Académico</ion-select-option>
      <ion-select-option value="DEPORTES">Deportes</ion-select-option>
      <ion-select-option value="CULTURA">Cultura</ion-select-option>
      <ion-select-option value="TECNOLOGIA">Tecnología</ion-select-option>
      <ion-select-option value="OTROS">Otros</ion-select-option>
    </ion-select>

    <!-- DESCRIPCIÓN -->
    <ion-label class="label">Descripción</ion-label>
    <ion-textarea class="textarea" formControlName="descripcion"></ion-textarea>

    <!-- URL IMAGEN -->
    <ion-label class="label">URL de la imagen del evento</ion-label>
    <ion-item class="input">
      <ion-input
      formControlName="fotoUrl"
      placeholder="https://...">
    </ion-input></ion-item>


    <!-- PREVIEW SI HAY URL -->
    @if (eventoForm.get('fotoUrl')?.value) {
      <img
        [src]="eventoForm.get('fotoUrl')?.value"
        class="preview-img"
      />
    }

    <!-- BOTÓN CREAR -->
    <ion-button
      expand="block"
      class="btn-crear"
      (click)="crearEvento()"
      [disabled]="eventoForm.invalid">
      Crear evento
    </ion-button>

  </form>

</ion-content>
