.crear-content {
  --background: #380A45;
  padding: 20px;
}

.titulo {
  color: #f19edc;
  font-family: "TAN Nimbus", sans-serif;
  text-align: center;
  font-size: 26px;
  letter-spacing: 3px;
  margin-bottom: 26px;
}

.form-box {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid #f19edc;
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  color: #f19edc;
  font-weight: 600;
  font-size: 18px;
  margin-left: 4px;
}

.input,
.textarea {
  --background: rgba(255, 255, 255, 0.12);
  color: #fff;
  border-radius: 14px;
  padding: 8px;
}

.textarea {
  min-height: 120px;
}

.placeholder-img {
  border: 2px dashed #f19edc;
  border-radius: 16px;
  padding: 25px;
  color: #f19edc;
  display: flex;
  justify-content: center;
  font-size: 60px;
  opacity: 0.8;
}

.preview-img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 10px;
  border: 3px solid #f19edc;
}

.btn-elegir {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #f19edc;
  color: #f19edc;
  padding: 10px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn-elegir input {
  display: none;
}

.btn-crear {
  --background: #4C87B9;
  color: #fff;
  border-radius: 16px;
  margin-top: 10px;
}
