/* FONDO GENERAL */
.crear-content {
  --background: #380A45;
  padding: 25px;
}

/* FORM CONTAINER */
.form-box {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid #f19edc;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  backdrop-filter: blur(4px);
  margin-bottom: 20px;
}

/* LABELS */
.label {
  color: #f19edc;
  font-weight: 600;
  font-size: 20px;
  margin-left: 4px;
  display: block;
}

/* INPUTS, SELECTS, DATETIME UNIFICADOS */
.input,
ion-select.input,
ion-datetime.input {
  --background: rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  padding: 12px;
  width: 100%;
  color: #fff !important;
}

/* ION-ITEM PARA PRECIO */
ion-item.input {
  --background: rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  padding: 0 12px;
  color: #fff;
}

/* CENTRAR TEXTO DEL SELECT */
ion-select.input {
  text-align: center;
  justify-content: center;
}

ion-select::part(text) {
  color: #fff;
  text-align: center;
  width: 100%;
}

/* TEXTAREA */
.textarea {
  --background: rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  padding: 12px;
  color: #fff;
  min-height: 120px;
}

/* PREVIEW DE IMAGEN */
.preview-img {
  width: 100%;
  border-radius: 16px;
  border: 3px solid #f19edc;
  object-fit: cover;
  margin-top: 8px;
}

/* BOTÓN */
.btn-crear {
  --background: #5B356C;
  --color: #F19EDC;
  --border-color: #F19EDC;
  --border-width: 2px;
  --border-radius: 20px;
  --box-shadow: none;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
  transition: transform 0.3s ease;
}
ion-button.btn-crear::part(native) {
  border: 2px solid #F19EDC;
  border-radius: 20px;
  height: 50px;
}
.btn-crear:hover::part(native),
.btn-crear:focus::part(native),
.btn-crear:active::part(native) {
  background: #6b3b82;
  transform: scale(1.03);
}

/* TÍTULO */
h1 {
  font-weight: 500;
  font-size: 24px;
  color: #f19edc;
  text-align: center;
  margin: 40px 0 30px;
  letter-spacing: 3px;
  font-family: "TAN Nimbus", sans-serif;
}
