.event-card {
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid #f19edc;
  border-radius: 16px;
  color: #fff;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 100%;
  max-width: 240px;
  min-height: 360px;
  padding: 12px;
}

.img-container {
  text-align: center;
  margin-bottom: 8px;
}

.event-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

ion-card-title {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

ion-card-content {
  color: #ddd;
  padding: 0;
  margin-top: auto;
  text-align: left;
}

ion-card-content p {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
  line-height: 1.50;
  font-size: 20px;
}

ion-icon {
  color: #b373f0;
}

.icon-bar.only-info {
  justify-content: center;
}

.icon-bar.only-info .info-btn ion-icon {
  font-size: 42px;
}

/* Contenedor de iconos */
.icon-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

/* icono info */
.info-btn ion-icon {
  font-size: 38px;
  transition: transform 0.25s ease;
}

.edit-btn ion-icon,
.delete-btn ion-icon {
  font-size: 38px;
  transition: transform 0.2s ease;
}

.info-btn:hover ion-icon,
.edit-btn:hover ion-icon,
.delete-btn:hover ion-icon {
  transform: scale(1.15);
}

