<ion-content>
  <div class="container">
    <div class="logo-container">
      <img src="assets/img/safa_logo.png" alt="Logo app" class="logo" />
    </div>
    <h2 class="slogan">
      CONECTA, <br />
      VIVE Y <br />
      DISFRUTA <br />
      LO QUE PASA EN SAFA
    </h2>

    <div class="buttons">
      <ion-button class="custom-btn" (click)="goToLogin()">
        Iniciar Sesión
      </ion-button>

      <ion-button class="custom-btn" (click)="goToRegistro()">
        Registrarse
      </ion-button>
    </div>
  </div>
</ion-content>
