ion-content {
  --background: #380a45;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.comentario-box {
  background: #380a45;
  border: 2px solid #f19edc;
  border-radius: 18px;
  width: 80%;
  max-width: 300px;
  padding: 25px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 120px;
  margin-left: 40px;
  font-size: 18px;
}

.comentario-body {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;

}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f19edc;
  object-fit: cover;
}

.comentario-textarea {
  flex: 1;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  padding: 12px;
  font-size: 1.05rem;
  color: #fff;
  border: 1px solid #f19edc;
  --highlight-color-focused: #f19edc;
  min-height: 300px;
}

.comentario-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  border-top: 1px solid rgba(241, 158, 220, 0.3);
  padding-top: 10px;
}

.comentario-footer ion-button {
  color: #f19edc;
  font-weight: 500;
  font-size: 0.95rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.publicar-btn {
  background-color: #f19edc;
  color: #380a45;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 12px;
  --box-shadow: none;
  width: 60%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.foto-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.preview-img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid #f19edc;
}
